@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body {
    background-color: rgb(218, 213, 213);
    color: #333;    
}

header {
    background-color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    margin: 0 10%;
}
/* Logo animation */
.logo {
    display: flex;
    align-items: center;
}
.logo h3 {
    color: #00CECB;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 10px;
}
.fa-cookie-bite {
    color: #00CECB;
    font-size: 30px;
    cursor: pointer;
}
.fa-cookie-bite:hover {
    animation: spin 2s infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    list-style: none;
}

#active {
    margin-left: 20px;
    background-color: #00CECB;
    padding: 5px 15px;
    border-radius: 10px;
    transition: 0.2s;
}
#active:hover {
    background-color: transparent;
    color: #00CECB;
    border: 2px solid #00CECB;
    padding: 3px 13px;
    border-radius: 10px;
}

.nav-links .nav-link {
    margin-left: 40px;  
    color: white;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration: none;
}
.nav-links .nav-link:hover {
    color: #00CECB;
    text-transform: uppercase;
}

.burger {
    cursor: pointer;
    display: none;
}

.burger div {
    background-color: white;
    height: 2px;
    width: 25px;
    margin: 5px;
    transition: 0.5s ease-in;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.container .title {
    padding: 50px;
}

.container h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 2px;
    border-bottom: 5px solid #333;
    animation: from-top 0.7s ease forwards;
}

@keyframes from-top {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.products-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    animation: pop-up 0.7s ease forwards;
}

@keyframes pop-up {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

.products-gallery .single-image{
    width: 250px;
    height: 250px;
    padding: 10px;
    overflow: hidden;
}

.products-gallery .single-image img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.products-gallery .single-image:hover img{
    transform: scale(1.1);
}

@media screen and (max-width: 750px) {
    .container {
        width: 95%;
    }
    .products-gallery .single-image{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 775px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        display: block;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: scale(0);
        z-index: 1;
        transition: transform 0.3s ease-in;
        padding: 50px 50px;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-active {
        transform: scale(1);
    }

    .toggle .line-1 {
        transform: rotate(-45deg) translate(-4px, 5px);
    }
    
    .toggle .line-2 {
        opacity: 0;
    }
    
    .toggle .line-3 {
        transform: rotate(45deg) translate(-4px, -5px);
    }

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
} 


.nav-links .nav-link {
    margin-left: 0px;
}
#active {
    margin-left: 0px;
}

.container .title {
    font-size: 20px;
}

.products-gallery .single-image{
    width: 100%;
    height: 100%;
}
}

@media screen and (max-width: 550px) {
    .container h1 {
        font-size: 1.5em;
    }
}