@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100vw;
    height: 90vh;
}

/* navigation styles */
header {
    background-color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    margin: 0 10%;
}
/* Logo animation */
.logo {
    display: flex;
    align-items: center;
}
.logo h1 {
    color: #00CECB;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 10px;
}
.fa-cookie-bite {
    color: #00CECB;
    font-size: 30px;
    cursor: pointer;
}
.fa-cookie-bite:hover {
    animation: spin 2s infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

#active {
    margin-left: 20px;
    background-color: #00CECB;
    padding: 5px 15px;
    border-radius: 10px;
    transition: 0.2s;
}
#active:hover {
    background-color: transparent;
    color: #00CECB;
    border: 2px solid #00CECB;
    padding: 3px 13px;
    border-radius: 10px;
}

.nav-links .nav-link {
    margin-left: 40px;  
    color: white;
    text-transform: uppercase;
    transition: 0.2s;
}
.nav-links .nav-link:hover {
    color: #00CECB;
    text-transform: uppercase;
}

.burger {
    cursor: pointer;
    display: none;
}

.burger div {
    background-color: white;
    height: 2px;
    width: 25px;
    margin: 5px;
    transition: 0.5s ease-in;
}

/* container styles */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #333;
}

.image-container {
    position: relative;
    top: 0px;
    width: 100%;
    height: 90vh;
}

img {
    width: 100%;
    height: 100%;
}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 650px;
    background-color: rgb(0, 0, 0, 0.4);
    border-top: 5px solid pink;
}

.title-container h1 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 70px;
    word-spacing: 5px;
}

.title-container a {
    background-color: purple;
    margin-top: 20px;
    color: white;
    padding: 8px 20px;
    transition: 0.3s;
}
.title-container a:hover {
    transform: rotate(2deg);
    color: #00CECB;
}

@media screen and (max-width: 775px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        display: block;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        z-index: 1;
        padding: 50px 50px;
        transition: transform 0.3s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-active {
        transform: translateX(0%);
        
    }

    .toggle .line-1 {
        transform: rotate(-45deg) translate(-4px, 5px);
    }
    
    .toggle .line-2 {
        opacity: 0;
    }
    
    .toggle .line-3 {
        transform: rotate(45deg) translate(-4px, -5px);
    }
    

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

    .nav-links .nav-link {
        margin-left: 0px;
    }
    #active {
        margin-left: 0px;
    }
    .image-container {
        align-self: flex-start;
        height: 50vh;
    }
    .title-container {
        position: relative;
        border-top: transparent;
        background-color: transparent;
        justify-content: flex-start;
        margin-top: 0px;
    }
    .title-container h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 450px) {
    
    .container h1 {
        font-size: 40px;
    }
    .container p {
        font-size: 13px;
    }
}